.htaccess
**/.svn
images/**
phpMyAdmin*
circday*
saidao*
**/wp-content/uploads
**/wp-content/cache
.htaccess.bak
.htcaccess
wp-config.php
**/wiki
*.bak
*.rej
*.orig
*.patch
*.diff
**/circday-home.follow
**/circday-home-v2
**/circday-home-v3
**/roadhours-home
**/roadhours-bbs
**/twentyfourteen-bbs
**/twentyfourteen-child
**/twentyfourteen-photos
**/twentyfourteen-wp
